<div class="main-box" style="min-height:100vh;">
  <div class="header-content" style="margin: 45px; width: 89%;" fxLayout="row wrap"
    fxLayoutAlign="space-between center">

    <h2 class="book-title"><b>Books ({{bookArray.length}})</b></h2>

    <mat-form-field appearance="outline">
      <mat-label>Sort by relevance</mat-label>
      <mat-select disableRipple>
        <mat-option value="1">Customer Rating</mat-option>
        <mat-option value="2">Price : Low to High</mat-option>
        <mat-option value="3">Price : High to Low</mat-option>
        <mat-option value="4">Newest Arrivals</mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <div class="main-container" fxLayout="row wrap" fxLayoutGap="10px">

    <mat-card class="main-card" *ngFor="let book of bookArray">

      <div style="background-color: #F5F5F5; padding: 16px; " fxLayoutAlign="center center"
        (click)="bookDetailsPage(book)">
        <img src="..\assets\Book\Image 11.png" width="105px" height="135px" style="cursor: pointer;">
      </div>



      <div class="content">
        <div style="padding-left: 15px;">

          <h3>{{book.bookName}}</h3>
          <h5>{{book.author}}</h5>

          <div class="rating-quantity" fxLayout="row" fxLayoutGap="5px">
            <button mat-raised-button class="ratingbtn" fxLayoutAlign="center center">
              <!-- <span>{{getRandomRating()}}</span> -->
              <span>4.5</span>
              <img src="..\assets\Book\star_white_18dp.svg" width="13px" height="13px">
            </button>
            <div class="quantity">({{book.quantity}})</div>
          </div>

          <div class="price">
            <h3 fxLayoutGap="5px"><b>Rs. {{book.price}}</b><del>Rs. {{book.price*1.5}}</del></h3>
          </div>

        </div>


        <div class="wish-cart" fxLayout="column" fxLayoutAlign="right end">
          <button (click)="wishlist(book)" mat-icon-button matTooltip="wishlist" class="favbtn">
            <mat-icon>favorite</mat-icon>
          </button>
          <button (click)="cart(book)" mat-icon-button matTooltip="Add-Cart" class="favbtn">
            <mat-icon>add_shopping_cart</mat-icon>
          </button>
        </div>



      </div>

    </mat-card>
  </div>
  <!-- pagination elements -->
  <div class="page-container" fxLayoutAlign="center">
    <div class="pagination_section"  fxLayoutAlign=" center center" fxLayoutGap="25px">

      <button mat-mini-fab style="background-color: white; color:black">&lsaquo;</button>
      <div class="number-btn" style="cursor: pointer;" fxLayout="row">
      <div class="number" title="">1</div>
      <div class="number" title="">2</div>
      <div class="number" title="">3</div>
      <div class="number" title="">4</div>
      <div class="number" title="">5</div>
      <div class="number" title="">6</div>
      <div class="number" title="">7</div>
      </div>
      <button mat-mini-fab style="background-color: white; color:black">&rsaquo;</button>
  
    </div>
  </div>
  <br>

</div>