.main-container{
    box-sizing: border-box;
    margin-bottom: 37px;
  
}
.content-container{
    // margin-left: 177px;
    // margin-right: 415px;
    margin-top: 70px;    
    padding: 30px;
    // width: 60%;
    margin-left: -18%;
    margin-bottom: 37px;
}
.Homelink:hover{
    cursor: pointer;
}
.head-link{
    margin-left:105px;
    margin-top: 19px;
    margin-bottom: 19px;
} 
.panel{
    width:275px;
    height: 40px;
}

.numeric-value{
    background-color: white; 
    border:1px solid #707070;
  
}
.numeric-value:focus{

    border:1px solid #707070;
}

.orderbtn{
    width:160px ;
    height:35px ;
}
.checkbtn{
    margin-bottom: 30px;
}
.removeCart:hover{
cursor: pointer;
}
// ----------------matcard2
.secMatcard{
    margin-left: -18%;

}
.matcard3{
    margin-left: -18%;
}