<div class="main-container">

    <div class="head-link" fxLayout="row">
        <div class="Homelink" routerLink="/dashboard/getbooks">Home</div><span>/My cart</span>


    </div>
    <mat-card class="content-container">
        <div class="cartText" style="margin-bottom: 37px;" fxLayout="row"  fxLayoutAlign="space-between end">

            <div style="margin-bottom: 10px;" ><b>My Cart<span>({{cartArray.length}})</span></b></div>

            <div class="location">
                <mat-expansion-panel class="panel" (opened)="panelOpenState = true" (closed)="panelOpenState = false" >
                    <mat-expansion-panel-header>
                        <mat-panel-title style="padding: 0%; margin: 0%;">
                            <mat-icon><span class="material-icons-outlined" style="color: #A03037;">
                                location_on
                                </span></mat-icon>
                        </mat-panel-title>
                        <mat-panel-description style="padding: 0%;  font-size: 12px;" >
                          BridgeLabz Solutions LLP...{{panelOpenState ? '' : ''}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>Mumbai</p>
                </mat-expansion-panel>
              
            </div>
   

        </div>
        <hr>
        <div *ngFor="let cart of cartArray">

            <div fxLayout="row">
                <div class="book-image" style=" width: 123px;">
                    <img src="..\assets\Book\Image 11.png" width="65px" height="85px">
                </div>
                <div class="description">
                    <h4 style="margin: 0%;">{{cart.product_id.description}}</h4>
                    <h5>by {{cart.product_id.author}}</h5>
                   
                       <span fxLayoutAlign="center center">
                        <h4 fxLayoutGap="7px" fxLayout="row"  >
                            <b>Rs. {{cart.product_id.price}}</b><del><h6>Rs. 5000</h6></del>
                        </h4>
                       </span>
                </div>
              
            </div>
            <div class="plus-minus" >
                <div class="button-container" fxLayoutGap="4px" fxLayout="row">
                    <button mat-mini-fab style="background-color: white; width: 25px; height: 25px;" >
                      <mat-icon style="color: black; font-size: 15px;">remove</mat-icon>
                    </button>
                    <div class="input">
                    <input class="numeric-value" style="width: 40px; height: 24px; background-color: white;">
                    </div>
                    <button mat-mini-fab style="background-color: white; width: 25px; height: 25px;" >
                        <mat-icon style="color: black; font-size: 15px;">add</mat-icon>
                    </button>
                    <div  class="remove" ><h6 class="removeCart" (click)="removeCart(cart)" style="margin:5px 0px 0px 14px;">Remove</h6></div>
                </div>
                <div class="checkbtn"fxLayoutAlign="end" >
                <button class="checkoutbtn" mat-raised-button 
                matTooltip="Place Order" style="background-color:#3371B5; color:#FFFFFF;">CHECK OUT</button>
            </div>
            </div>
            <hr>
        </div>
        
    </mat-card>

</div>