.main-container{
    box-sizing: border-box;
    margin-bottom: 37px;
}
.content-container{
    margin-left: 177px;
    margin-right: 415px;
    padding: 30px;
}
.Homelink:hover{
    cursor: pointer;
}
.head-link{
    margin-left:174px;
    margin-top: 19px;
    margin-bottom: 19px;
} 
.panel{
    width:275px;
    height: 40px;
}

.orderbtn{
    width:160px ;
    height:35px ;
}
.checkbtn{
    margin-bottom: 30px;
}
.removeCart:hover{
cursor: pointer;
}