.main-container{
    box-sizing: border-box;
    min-height: 100vh;
}
.head-link{
    margin-left:117px;
    margin-top: 19px;
    margin-bottom: 19px;
}
.Homelink:hover{
cursor: pointer;
}
.wish-cal{
height: 55px;
}
.content-box{
   margin-left:117px;
   margin-top: 19px;
   margin-right: 55px;
   margin-bottom: 250px;
}
.img-content{
   
    margin-left: 19px;
    height: 90px;
}
.description{
    height: 85px;
}
.deletebtn:hover{
    cursor: pointer;
}
