.main-container{
    background-color: #00000029;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
   
}
.horizontal-card{
    // width: 624px;
    // height: 391px;
    background-color: #F5F5F5;
    border-radius: 20px;
}
img{
    height:245px; 
    width:245px;
    border-radius: 150px;
    margin: 52px 326px 31px 53px;
}
.heading{
    padding: 0px 0px 0px 64px;
    font-size: large;
}
.horizontal-card{
    position:relative;
    left: 10%;
 
}
.vertical-card{
    background-color: white;
    border-radius: 6px;
    position:relative;
}
.my-custom-class {
   color: #878787;
    font-family: Roboto;
    font-size: 25px;
  }
  :host ::ng-deep .mat-tab-label .mat-tab-label-content-active {
    color: black;
  
}
:host ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar{
    background-color:  #A03037;
 
}
