.input-bar{
width: 252px;
height: 35px;
}
.main-container{
    width: 389px;
    height: 425px;
}
.login-btn{
    width: 252px;
    height: 37px;
    background-color: #A03037;
}
.fb-btn, .google-btn{
    width: 126px;
    height: 37px;
}

.text{
    max-width: 100%;
    margin: 50;
  
}
.hr-text {
  
    font-weight: bold;
    position: relative;
    outline: 0;
    border: 0;
    color: rgb(0, 0, 0);
    text-align: center;
    &:before {
      content: '';
      // use the linear-gradient for the fading effect
      // use a solid background color for a solid bar
      background: linear-gradient(to right, transparent, #818078, transparent);
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
    }
    &:after {
      content: attr(data-content);
      position: relative;
      display: inline-block;
      color: black;
  
      padding: 0 .5em;
      line-height: 1.5em;
      // this is really the only tricky part, you need to specify the background color of the container element...
      color: #818078;
      background-color: #fcfcfa;
    }

}
