<div class="main-container"  fxLayoutAlign="center center">

    <mat-card  class="horizontal-card">
        <div >
            <img src="..\assets\shoppingGirl.png" alt="">
            <h2 class="heading">ONLINE BOOK SHOPPING</h2>
        </div>
    </mat-card>





    <div class="vertical-card">
        
            <mat-tab-group mat-align-tabs="center">
                <mat-tab label="LOGIN">
                    <app-login></app-login>
                </mat-tab>
                <mat-tab class="content" label="SIGNUP">
                    <app-signup></app-signup>
                </mat-tab>
            </mat-tab-group>
        
    <div>
</div>