.footer{
    background-color: #2E1D1E;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    padding: 0;
 
}
.text{
    color: white;
    font-size : 12px;
    font-family: Lato;

}