
<div class="main-container">
    <div class="image-sec" style="margin-top: 37px;" fxLayoutAlign="center center">
        <img src="..\assets\placeOrder.png" alt="orderSucessful">

    </div>

    <center class="DetailsPara" fxLayoutAlign="center center">
        <h2> hurray!!!your order is confirmed<br>the order id is #123456 save order id for<br>futher communication..
        </h2>
    </center>

    <div class="table" fxLayoutAlign="center" style=" width: 100%;">
        <table style="border: #DCDCDC 2px solid; width: 70%;">
            <tr class="table-row" style=" background-color: #DCDCDC;" >
                <th>email us</th>
                <th>contact us</th>
                <th>address</th>
            </tr>


            <tr class="table-content" style="background-color: #FFFFFF;"  >
                <td class="table-cell">admin@bookstore.com</td>
                <td>+917060731565</td>
                <td>42, 14th Main, 15th Cross, Sector 4 ,opp to BDA complex,<br> near Kumarakom restaurant, HSR Layout,<br>
                    Bangalore 560034</td>
            </tr>



        </table>
    </div>

    <div class="continuebtn" fxLayoutAlign="center center">
        <button routerLink="/dashboard/getbooks"  class="continue-btn"  mat-raised-button color="primary" >CONTINUE SHOPPING</button>
    </div>

</div>
