<div class="main-container">
    <div class="header">
        <mat-toolbar fxLayout="row">
            <div class="book" fxLayoutGap="3px" fxLayoutAlign="center center">
                <img src="..\assets\education.svg" alt="" height="23.71px" width="31.04px">
                <span class="title">Bookstore</span>
            </div>
        </mat-toolbar>
    </div>


    <div class="head-body" fxLayoutAlign="center center">
        <h2 class="heading">Forgot Your Password?</h2>
    </div>

    <div class="body" fxLayoutAlign="center center">

        <mat-card class="mat-container" fxLayoutAlign="center center" fxLayout="column" >
            <mat-card-subtitle fxFlexAlign="center center">
                Enter your email address and we'll send you<br>
                a link to reset your password.
            </mat-card-subtitle>

            <div class="EmailId">
                <div>
                    <mat-label>Email Id</mat-label>
                </div>
                <mat-form-field appearance="outline" class="input-bar">
                    <input matInput placeholder="Email Id">
                    <mat-error>Enter vaild email</mat-error>
                </mat-form-field>
            </div>

            <div class="SubmitBtn">
                <button class="Reset-btn" mat-raised-button>Reset Password</button>
            </div>
        </mat-card>

    </div>
    <div class="footer" fxLayoutAlign="center center">
        <mat-card class="footerbtn" style="background-color: #F9F9F8;"  fxLayoutAlign="center center">
            <div class="accountbtn" routerLink="/home" fxLayoutAlign="center center">CREATE ACCOUNT</div>
          </mat-card>
    </div>
   






</div>