.mat-toolbar{
    background-color: #A03037;
   
}
.title{
    color: white;
    font-size: medium;
    font-weight:normal;
}
.book{
    margin-left: 163px;
}
.head-body{
    margin-top: 60px;
}

.input-bar{
    width: 252px;
}
.Reset-btn{
    width: 252px;
    height: 37px;
    background-color: #A03037;
}
.mat-container{

    width: 424px;
    height: 287px;
}
.footerbtn{
 
    margin-top: -30px;
    width: 424px;
    height: 100px;
}
.accountbtn:hover{
    cursor: pointer;
}
.accountbtn{
    font-size: 17px;
    font-weight: bold;
}
