<mat-card class="main-container" fxLayoutAlign="center center">

    <form class="" [formGroup]="signUpForm"  fxLayout="column" fxLayoutGap="24px">

        <div class="fullname">
            <div><mat-label>Full Name</mat-label></div>
            <mat-form-field appearance="outline" class="input-bar">
                <input formControlName="fullName" matInput placeholder="Full name">
                <mat-error>Enter valid Full name</mat-error>
            </mat-form-field>
        </div>
        <div class="EmailId">
            <div><mat-label>Email Id</mat-label></div>
            <mat-form-field appearance="outline"class="input-bar">
                <input formControlName="email" matInput placeholder="Email Id">
                <mat-error>Enter valid Email</mat-error>
            </mat-form-field>
        </div>
        <div class="Password">
            <div><mat-label>Password</mat-label></div>
            <mat-form-field appearance="outline"class="input-bar">
                <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
                <mat-error >Enter valid Password</mat-error>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide" style="border:none; outline:none; background:none;">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="MobileNo" >
            <div><mat-label>Mobile Number</mat-label></div>
            <mat-form-field appearance="outline" class="input-bar">
                <input formControlName="mobileNo" matInput placeholder="Mobile Number">
                <mat-error>Enter valid Mobile No.</mat-error>
            </mat-form-field>
        </div>
        <br>

        <div class="SubmitBtn" >
            <button class="signup-btn" (click)=" onSubmit()" mat-raised-button>SignUp</button>
        </div>

    </form>

   
</mat-card>

<!-- <div class="main-container" style="border: 2px red solid;"  fxLayoutAlign="center center">
<mat-card class="main-card">
            <mat-tab-group mat-align-tabs="center">

                <mat-tab label="LOGIN">
                    <app-login></app-login>
                </mat-tab>


                
                <mat-tab label="SIGNUP">
                    <form class="form-class"  [formGroup]="signUpForm">
                        <h3>Full Name</h3>
                            <mat-form-field appearance="outline" class="input-bar" >
                                <input matInput placeholder="Full name" formControlName ="fullName" style="border: 2px blue solid; padding: 0%;">
                                <mat-hint>Enter Full name</mat-hint>
                            </mat-form-field>
                 
                        <div class="EmailId">
                            <div>Email Id</div>
                            <mat-form-field appearance="outline">
                                <input formControlName ="email" matInput placeholder="Email Id">
                                <mat-hint>Enter Email Id</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="Password">
                            <div>Password</div>
                            <mat-form-field appearance="outline">
                                <input formControlName ="password" matInput [type]="hide ? 'password' : 'text'">
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" 
                                    [attr.aria-pressed]="hide" style="border:none; outline:none; background:none;">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                </mat-form-field>
                        </div>
                        <div class="MobileNo">
                            <div>Mobile Number</div>
                            <mat-form-field appearance="outline">
                                <input formControlName ="mobileNo" matInput placeholder="Mobile Number">
                                <mat-hint>Enter Mobile Number</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="SubmitBtn">
                            <button (click)=" onSubmit()" mat-raised-button>SignUp</button>
                        </div>
            
                    </form>

                </mat-tab>

            </mat-tab-group>

     

  

</mat-card>
</div> -->