
.main-container{
    width: 389px;
    height: 425px;
    padding-bottom: 25px;
  
  
}
.input-bar{
    width: 252px;
    height: 35px;
}
.signup-btn{
    width: 252px;
    height: 37px;
    background-color: #A03037;
}
.mat-error{
    display: flex;
    justify-content:flex-end;
}